.header {
  display: flex;
  flex-direction: column;
  width: "100%";
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: "100%";
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: grey;
  height: 5rem;
  margin: 0;
}
li {
  margin-right: 3rem;
}
a {
  text-decoration: none;
  color: wheat;
}
.label {
  font-size: 1.5rem;
  color: white;
}
